@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="FOLLOW,INDEX" />
    @if (IsSectionDefined(@"Meta"))
    {
        @RenderSection(@"Meta", false)
    }
    <!-- FB -->
    <meta name="author" content="app.com" />
    <meta name="description" content="APP DESCRIPTION" />
    <meta name="keywords" content="app, keywords, tags" />
    <meta charset="utf-8">
    <meta property="og:title" content="App | Title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://app.com">
    <meta property="og:site_name" content="App">
    <meta property="og:image" content="URL_TO_FB_IMAGE" />
    <meta property="og:description" content="APP DESCRIPTION">
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@")app_twitter_handle" />
    <meta name="twitter:title" content="App | Title" />
    <meta name="twitter:description" content="APP DESCRIPTION" />
    <meta name="twitter:image" content="URL_TO_TWITTER_IMAGE" />
    <meta name="twitter:url" content="http://app.com" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="URL_TO_FAV_ICON">
    <link rel="icon" sizes="192x192" href="URL_TO_FAV_ICON">

    @if (IsSectionDefined(@"CSS"))
    {
        @RenderSection(@"CSS", false)
    }
    @if (IsSectionDefined("Title"))
    {
        <title>@RenderSection("Title", false) | App</title>
    }
    @if (IsSectionDefined("TitleRaw"))
    {
        @RenderSection("TitleRaw", false)
    }
    @if (IsSectionDefined(@"HeadScripts"))
    {      
        @RenderSection(@"HeadScripts", false)
    }
</head>
<body id="top">
    @if (IsSectionDefined(@"AfterBodyTag"))
    {
        @RenderSection(@"AfterBodyTag", false)
    }
    @RenderBody()
    @if (IsSectionDefined(@"Scripts"))
    {
        @RenderSection(@"Scripts", false)
    }
</body>
</html>
